---
---

@import "{{ site..theme }}";

#header_wrap .inner {
    padding: 1 rem;
}

.inner {
    padding: 1rem;
    max-width: 90vw;
}

@media (max-width: 992px) {
    .inner {
        max-width: unset;
    }
}